@import './fonts.css';
@import './animations.css';

:root {
    --oe-clr-fg: rgb(234, 234, 243);
    --oe-clr-bg: #001;
    --oe-border-radius: 0.3em;
}

* {
    background-color: var(--oe-clr-bg);
    color: var(--oe-clr-fg);
}

body {
    font-family: 'Work Sans';
}

[lang="ang"] {
    font-family: 'Junicode', serif;
    font-style: italic;
}

section.card {
    margin-top: 2em;
    margin-bottom: 1em;
}

.card {
    border: 1pt solid #fff6;
    margin: 1em 0;
    padding: 1em;
    border-radius: var(--oe-border-radius);
}

.card h3 {
    font-size: 150%;
    margin: 0.3em 0 0.6em 0;
}


.correct,
.incorrect {
    color: var(--oe-clr-fg);
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.shake {
    color: white;
    background-color: red;
}

button {
    border-radius: var(--oe-border-radius);
    font-size: 150%;
    border: 1pt solid grey;
    padding: 0.3em;
    cursor: pointer;
}

button:hover {
    outline: 1px solid var(--oe-clr-fg);
}

.next-button {
    background: blue;
    width: calc(100% - 2em);
    margin-left: 1em;
}