/* LessonIntro.css */

.lesson-intro {
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.lesson-intro .buttons {
    margin-top: 2em;
    display: flex;
    gap: 2em;
}

.lesson-intro .next-button {
    width: unset;
}

.lesson-intro .lesson-list {
    margin-top: 2em;
}