/* Lesson.css */
.lesson h2 {
    margin-bottom: 0;
    font-weight: normal;
}

.lesson progress {
    margin-top: 0;
    height: 2pt;
    width: 100%;
}

.lesson h2 {
    font-weight: light;
}

.lesson h2 em {
    font-weight: normal;
    font-style: normal;
}