/* SplashScreen.css */

#splash {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#splash img {
    width: 30%;
    float: left;
}

#splash .titles {
    text-align: center;
    margin-bottom: 2em;
}

#splash h1 {
    margin-top: 0;
    font-size: 250%;
    font-weight: 900;
}

#splash h2 {
    font-size: 200%;
    font-weight: 200;
}

#splash a {
    color: var(--oe-clr-fg);
}

#splash .card.about {
    border: none;
    margin-top: 2em;
}

#splash .about {
    font-family: "Junicode";
}

#splash .about h2 {
    font-size: 1.6em;
    font-weight: 500;
    text-align: left;
}

#splash footer {
    margin-top: 2em;
}