main {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: 0 auto;
    padding-top: 2rem;
}

.completed {
    font-size: 300%;
    font-style: italic;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1,
header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1em;
}

header h1 {
    font-style: italic;
}

header h2 {
    font-weight: 100;
}