@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --oe-clr-fg: rgb(234, 234, 243);
    --oe-clr-bg: #001;
}

* {
    background-color: var(--oe-clr-bg);
    color: var(--oe-clr-fg);
}